<header class="{{state == states.Open && 'active' || 'inactive'}}">
    <fab (click)="toggle()" [icon]="state && 'dots-vertical' || 'menu'">Menu</fab>
    <nav>
        <li>
            <img src="http://bit.ly/chimpysaysitworks" alt="">
            <div class="text">Item 1</div>
        </li>
        <li>
            <img src="http://bit.ly/chimpysaysitworks" alt="">
            <div class="text">Item 2</div>
        </li>
        <li>
            <img src="http://bit.ly/chimpysaysitworks" alt="">
            <div class="text">Item 3</div>
        </li>
        <li>
            <img src="http://bit.ly/chimpysaysitworks" alt="">
            <div class="text">Item 4</div>
        </li>
        <li>
            <img src="http://bit.ly/chimpysaysitworks" alt="">
            <div class="text">Item 5</div>
        </li>
    </nav>
</header>
<section>
    <ng-content></ng-content>
</section>
