$mdi-font-path: "../../node_modules/mdi/fonts";

@import "../../node_modules/mdi/scss/materialdesignicons.scss";

body, html {
    background: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

* {
    box-sizing: content-box;
}